<%- include("partials/header.ejs") %>
<div class="container">
    <div>
        <h1>About Us</h1>
        <div>
            <p style="font-family: Georgia, serif; font-size: 21px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ex nunc, feugiat nec cursus sed, fringilla non ex. Phasellus consectetur auctor ligula vel luctus. Maecenas malesuada nisl tellus, non bibendum elit aliquet vel. Mauris sed semper dui. Duis quis finibus purus, non pellentesque massa. Nam at scelerisque orci. Praesent luctus sollicitudin nunc ac ultrices. Integer rutrum vulputate ligula, ut feugiat sem pulvinar a. Phasellus malesuada tempus lacus, vel posuere lorem dictum vel. Curabitur dictum est sit amet nibh sodales sollicitudin. Cras risus magna, ultrices id finibus id, suscipit quis dui.

                Nullam porttitor bibendum euismod. Suspendisse auctor leo lorem, quis aliquam felis semper et. Integer a nunc sed metus ullamcorper sagittis. Pellentesque id nulla auctor, ultrices magna nec, ultrices nisl. Duis.</p>
        </div>    
    </div>
<div>
    <%- include("partials/footer.ejs") %>
</div>